.history {
  max-width: 800px;
  margin: auto;
}
.historyGroup {
  max-width: 800px;
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
}
.historyGroup div {
  width: 25%;
}
h4 {
  text-align: left;
}
.goHome {
  margin-top: 50px;
  text-align: left;
}
