.todoGroup {
  display: flex;
  max-width: 800px;
  margin: auto;
  justify-content: space-evenly;
}
.setting {
  width: 170px !important;
}

.todoGroup div {
  width: calc(20% - 40px);
  margin: 20px 0;
}
.form-group {
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}
.form-group input,
.form-group textarea {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.todoGroup button {
  margin: 0 2px;
}
.button-group {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
select {
  width: 100px;
  padding: 5px;
  margin: 20px 0;
}
